<!DOCTYPE html>
<html>
<head>
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" href="static\wishlist.css">
</head>
<body>

</head>
<body>
    <h1>My Wishlist</h1>
    <div class="wishlist">
        <input type="text" id="item" placeholder="Enter an item">
        <button onclick="addToWishlist()">Add to Wishlist</button>
    </div>
    <ul id="wishlistItems">
        
    </ul>

    </style>
    <h1>My Wishlist</h1>
    
    <div class="product-list">
        <div class="product" data-id="1">
            <h2>Product 1</h2>
            <button class="add-to-wishlist">Add to Wishlist</button>
        </div>
        
        <div class="product" data-id="2">
            <h2>Product 2</h2>
            <button class="add-to-wishlist">Add to Wishlist</button>
        </div>
    </div>

    <h2>My Wishlist</h2>
    <ul id="wishlist"></ul>

</body>
</html>