body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue; 
    color:black;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    font-size: x-large;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color:black;
}